* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f5f7fa;
}


/* NAVBAR */

.navbar {
    background: #0b1c2d;
    color: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-weight: 500;
}

.navbar a.active,
.navbar a:hover {
    color: orange;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}


/* HERO */

.hero {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../images/hero.jpg") center/cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}

.btn {
    background: orange;
    padding: 14px 28px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 30px;
}


/* FEATURES */

.features {
    display: flex;
    justify-content: space-around;
    padding: 60px 40px;
    background: white;
}

.feature-box {
    width: 30%;
    text-align: center;
}

.feature-box h3 {
    margin-bottom: 10px;
}


/* LATEST BLOGS */

.latest {
    padding: 60px 40px;
    text-align: center;
}

.latest h2 {
    margin-bottom: 30px;
    font-size: 32px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card {
    background: white;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    margin: 15px;
}

.card p {
    margin: 0 15px 15px;
    color: #555;
}

.card a {
    display: inline-block;
    margin-bottom: 15px;
    color: orange;
    font-weight: bold;
    text-decoration: none;
}


/* FOOTER */

footer {
    background: #0b1c2d;
    color: white;
    text-align: center;
    padding: 15px;
}